.mainDiv{
    width: 400px;
    height: 300px;
    position: relative;
    margin: 200px auto;
}
#one, #two, #three, #four, #five{
    width: 100px;
    height: 60px;
    background-color: #CFE2F3;
    border: 1px solid black;
    text-align: center;
    font-size: large;
    cursor: pointer;
    padding-top: 40px;
}

#one{
    position: absolute;
    left: 100px;
}

#two{
    position: absolute;
    left: 230px;
}

#three{
    position: absolute;
    top: 105px;
    left: 100px
}

#four{
    position: absolute;
    top: 105px;
    left: 230px;
}

#five{
    position: absolute;
    top: 50px;
    left: 165px;
}

.effect{
    z-index: 100;
}

.removeEffect{
    z-index: 0
}